@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;900&family=Poppins:wght@400;700;900&display=swap');
@import "tailwindcss";

:root {
  --color-cyber-black: #0a0a0c;
  --color-cyber-card: #121216;
}

/* Configuração base para o documento */
html {
  scroll-behavior: smooth;
  background-color: #0a0a0c;
  color: #f1f1f4;
}

body {
  background-color: #0a0a0c;
  /* Poppins como padrão para o texto corrido */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Forçar Orbitron apenas para os títulos grandes e navbar */
h1, h2, h3, nav a, .logo {
  font-family: 'Orbitron', sans-serif !important;
}

/* Customização da barra de rolagem - Versão Escura Profissional */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0c;
}
::-webkit-scrollbar-thumb {
  background: #1c1c24; /* Um cinza escuro sutil que combina com seus cards */
  border-radius: 4px;
  border: 1px solid #262630; /* Borda cinza discreta para dar acabamento */
}
::-webkit-scrollbar-thumb:hover {
  background: #262630; /* Fica ligeiramente mais claro quando o usuário passa o mouse */
}